body {
    background: url('/static/img/stars.svg');
    background-color: #0c0319;
    color: #FDFDB4;
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    background-color: #745296;
    border-color: #745296;
    color: #FDFDB4;
}

.navbar {
    background-color: #558C8C;
}

.navbar-brand {
    color: #FDFDB4;
}

.navbar-toggler {
    color: #FDFDB4;
}
.nav-link {
    color: #FDFDB4;
}
.sect {
    color: #E4BB42;
}

h1 {
    color: #78C0E0;
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    color: #78C0E0;
    font-size: 2em;
    font-weight: bold;
}

p {
    text-align: justify;
    font-size: 1.1em;
}

#me {
    min-height: 250px;
    max-height: 500px;
    align-items: center;
    justify-content: center;
}

#skills > i {
    color: #78C0E0;
    font-size: 3em;
}

.funs {
    color: #745296;
    font-size: 3em;
}

footer {
    color: #FDFDB4;
    padding: 20px 0;
}

#footer-nav > a {
    color: #FDFDB4;
    text-decoration: none;
    margin-right: 10px;
}

