{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
    <section class="py-5">
        <div class="container py-2">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Take a look at the projects I've worked on</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}